@import "../../../node_modules/dress-code/dist/sass/dress-code";

.logo-container {
  display: flex;
  max-height: 2rem;

  &--desktop {
    display: none;

    @media (min-width: $dc-huge-width) {
      display: block;
    }
  }

  &--mobile {
    margin-left: 0;

    @media (min-width: $dc-huge-width) {
      display: none;
    }
  }

  .logo {
    cursor: pointer;

    img {
      max-height: $dc-touch-size - $dc-space150;
      max-width: 90px;
    }
  }

  .menu-toggle {
    @media (min-width: $dc-huge-width) {
      display: none;
    }

    .dc-icon {
      margin-left: 4px;
      vertical-align: middle;
    }
  }
}




